.expense-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #282c34;
    color: white;
}
.content-margin{
    margin: 0.3em;
}